<div class="container_body">
    <div class="container_form">
        <div class="container_form__title">
            Registrate
        </div>
        <div class="linea"></div>        
        <form action="" class="container_form__inputs">
            
            <input type="text" id="intput__user" placeholder="Nombre">
            
            <input type="text" id="intput__surname" placeholder="Apellido">
            
            <input type="email" id="intput__email" placeholder="Email">
            
            <input type="text" id="intput__url" placeholder="Url">
            
            <input type="password" id="intput__password" placeholder="Contraseña">
            
            <input type="password" id="intput__password_validation" placeholder="Repite la contraseña">
            <div class="button__container">
            <button class="button__form">Registrate</button>
            </div>
        </form>
    </div>
</div>
