<div class="container_body">
    <div class="container_form">
        <div class="container_form__title">
            Registrate
        </div>
        <div class="linea"></div>        
        <form action="" class="container_form__inputs">
            <!-- <label for="intput__user">Usuario: </label> -->
            <input type="text" id="intput__user" placeholder="Nombre">
            <!-- <label for="intput__surname">Apellido: </label> -->
            <input type="text" id="intput__surname" placeholder="Apellido">
            <!-- <label for="intput__email">Email: </label> -->
            <input type="email" id="intput__email" placeholder="Email">
            <!-- <label for="intput__url">Url: </label> -->
            <input type="text" id="intput__url" placeholder="Url">
            <!-- <label for="intput__password">Contraseña: </label> -->
            <input type="password" id="intput__password" placeholder="Contraseña">
            <!-- <label for="intput__password_validation">Repetir contrasña: </label> -->
            <input type="password" id="intput__password_validation" placeholder="Repite la contraseña">
            <div class="button__container">
            <button class="button__form">Registrate</button>
            </div>
        </form>
    </div>
</div>
