<div class="container_body">
    <div class="container_form">
        <div class="container_form__title">
            Modificar libro
        </div>
        <div class="linea"></div>
        <form action="" class="container_form__inputs">

            <input type="text" #book_title placeholder="Título" class="input_class" required>

            <input type="text" #book_type placeholder="Tapa blanda/dura" class="input_class">

            <input type="text" #book_author placeholder="Autor" class="input_class">

            <input type="number" #book_price placeholder="Precio" class="input_class">

            <input type="text" #book_photo placeholder="Foto" class="input_class">

            <input type="number" #book_ref placeholder="Codigo Libro" class="input_class">

            <div class="button__container">
                
                <button class="button__form" type="reset"
                    (click)="modify_book(book_ref, book_title, book_type, book_author, book_price, book_photo)">Modificar libro</button>
            </div>
        </form>
    </div>
</div>