<div class="search_container">
    
        <form class="input_search">
            <input type="text" placeholder="Buscador de libros" class="buscador--text" #input_search>
            <button type="button"  class="buscador--img" (click)="search(input_search)">Search</button>
        </form>
    
</div>

<div class="content_container" *ngIf="libros.length != 0; else esfalso">

    <div class="card" *ngFor="let libro of libros; let i = index">
        
        <div class="card__img">   
            <button class="button_delete" (click)="delete(libro.id_libro)">X</button>
            <img src="{{libro.photo}}"
                alt="Portada de libro" class="card__img">
        </div>
        <div class="card__front_page_type">
            <p>{{libro.tipoLibro}}</p>
        </div>
        <div class="line__separation">
            <hr>
        </div>
        <div class="card__book_title">
            <p>{{libro.titulo}}</p>
        </div>
        <div class="card__book_autor">
            <p>Autor: {{libro.autor}}</p>
        </div>
        <div class="card__book_ref">
            <p>{{libro.id_libro | toReference}}</p>
        </div>
        <div class="card__book_price">
            <p>{{libro.precio}}€</p>
        </div>
        <div class="card__button_buy">
            <button [ngClass]="(i % 2) ===  0 ? 'buy__button' : 'buy__button_grey '" >Comprar</button>
        </div>
    </div>
</div>
<ng-template #esfalso >
    <div class="no_content">No se han encontrado libros en venta</div>
</ng-template>
