<footer class="footer">
    <div class="footer__contacts">
        <div class="footer__contacts--title">Contactanos: </div>
        <div class="footer__contacts--phone">Telefono: +34 688 886 688</div>
        <div class="footer__contacts--email">Email: mybooks@mybooks.com</div>
        <div class="footer__contacts--direction">Dirección: Calle 1, Barcelona, España</div>
    </div>
    <div class="footer__social">
        <div class="footer__social--title">Siguenos: </div>
        <div class="footer__social--iconsContainer">
            <img src="../../../assets/img/facebook.png" alt="" class="social__img">
            <img src="../../../assets/img/linkedin.png" alt="" class="social__img">
            <img src="../../../assets/img/pinterest.png" alt="" class="social__img">
            <img src="../../../assets/img/telegram.png" alt="" class="social__img">
            <img src="../../../assets/img/twitter.png" alt="" class="social__img">
            <img src="../../../assets/img/weechat.png" alt="" class="social__img">
            <img src="../../../assets/img/whatsapp.png" alt="" class="social__img">
            <img src="../../../assets/img/youtube.png" alt="" class="social__img">
        </div>
    
    </div>
</footer>
