.container{
    
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0, 0, 0, 0.8)),url(../../../assets/img/background_home.jpg);
    filter: contrast(20%);
    filter: brightness(120%);
    background-size: cover;
    height: 71.45vh;
    
    
     
    
}

    .container__title{
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 100px;
        font-size: 100px;
        text-align: center;
        
    }

    .container__description{
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50PX;
    }

    .container__reclamo{
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 50PX;
            padding-top: 100px;
        }